nav {
  display: none;
}
.info-container {
  display: none;
}

header {
  margin: 0;
  padding-left: 2vw;
}
.restaurant-container {
  grid-template-columns: 1fr;
}
.restaurant-logo > img {
  width: 20vw;
  height: 20vw;
  cursor: pointer;
}
