body {
  background-image: linear-gradient(#c4c4c4, #ffffff);
  margin: 10vh;
  background-attachment: fixed;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. header header .'
    '. main main .'
    '.footer footer .';
  gap: 2vh;
}

.item {
  border: 4px solid rgb(102, 102, 102);
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(204, 204, 204);
  text-align: center;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: main;
}
.item3 {
  grid-area: footer;
}

@media (max-width: 700px) {
  .item {
    border: 4px solid rgb(102, 102, 102);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(204, 204, 204);
    text-align: center;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'main main '
      'footer footer';
  }
}
