* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #008039;
  --secondary-color: #940e3f;
  --text-main-color: #000000;
  --text-secondary-color: #343a40;
  --hover-text-color: #ffffff;
  --hover-bg-color: #e0437c;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

nav {
  margin: 0 5vw 0 5vw;
  display: flex;
  height: 3vw;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1em;
  padding: 2vw;
}

nav a:hover {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
  padding: 0.5vw 2vw 0.5vw 2vw;
  border-radius: 10px;
  cursor: pointer;
}

nav input {
  border: solid var(--secondary-color);
  border-radius: 10px;
  padding-left: 2vw;
  height: 2vw;
}
header {
  margin: 0 5vw 0 5vw;
}
#search-form {
  display: flex;
  position: relative;
  height: 100%;
}

#search-img {
  fill: var(--secondary-color);
  position: absolute;
  align-self: center;
  margin-left: 0.25vw;
  width: 1.5vw;
  height: 1.5vw;
}

#banner {
  background-color: var(--main-color);
  height: 25vh;
  display: flex;
}

#banner-logo-container {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}

#banner-text {
  font-family: 'Roboto Slab', serif;
  font-size: 3.75em;
  font-weight: 800;
}

#banner-slogan {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4375em;
  font-weight: 400;
}

#banner-image-container {
  width: 50%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 20.17% 107.29%);
}

.info-container {
  margin: 5vh;
}

.info-container-text {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.restaurant-container {
  margin: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  gap: 2vh;
}

.restaurant {
  font-size: 1em;
  padding: 1em;
  background-color: #f0f0f0;
  border: 3px dashed var(--secondary-color);
  border-radius: 10px;
  display: flex;
}

.restaurant ul {
  padding: 0 1em 0 1.5em;
  list-style: none;
  display: inline;
}

/* .restaurant-logo {
  padding: 5vh;
}
.restaurant-logo > img {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

.restaurant-logo > img:hover {
  border: solid var(--main-color) 3px;
  cursor: pointer;
} */

.topnav {
  display: none;
}
